body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 999;
}

.nav-list,
.cont-list {
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-blue {
  color: #2e2f42;
}

.nav-link {
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
  color: #404bbf;
}

.nav-link.active::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
}

.cont-link {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.cont-link:hover,
.cont-link:focus {
  color: #404bbf;
}

.home-page {
  background-color: #2e2f42;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
}

.home-page-title {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.home-page-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-page-btn:hover,
.home-page-btn:focus {
  background-color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.features-item {
  width: calc((100% - 24px * 3) / 4);
}

.features-wrap {
  display: flex;
  min-height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
}

.team-hero {
  background-color: #ffffff;
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.features-subtitle,
.team-subtitle,
.portfolio-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-desc,
.team-desc,
.portfolio-desc,
.text-footer,
.social-media {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-desc {
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-hero {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0 32px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: currentColor;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap:hover .overlay {
  transform: translatey(0);
}

.about-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.logo-cloud,
.text-footer {
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-text-footer {
  margin-right: 120px;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.text-footer {
  max-width: 264px;
}

.social-media {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-icon {
  fill: currentColor;
}
